@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}
